
<ul>
  <li><a href="{{"/"}}">Home</a></li>
  
  <li class="dropdown">
  	<a class="dropbtn">Blog</a>
    <div class="dropdown-content">
      {% for post in site.posts %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>	
  </li>  
  
  <li class="dropdown">
  	<a class="dropbtn">About</a>
    <div class="dropdown-content">
	  <a href="{% link _pages/about.md %}">About</a>
	  <a href="{% link _pages/contact.md %}">Contact</a>

    </div>	
   </li>
</ul>




<header>
	<h1><a>{{ page.title }}</a></h1>
</header>
 
